<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="theme-color" content="#000000">
		<link rel="manifest" href="/manifest.json">
		<link rel="shortcut icon" href="app/public/favicon.ico">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="app/css/main.css">
		<title>Lonely Hearts Dating</title>
	</head>
	<body>
		<div class="header">
			<h1>Lonely Hearts Dating Service</h1>
		</div>
		<div class="container text-center">
			<div id="root">
				<div id="form"></div>
				<div id="searchResults"></div>
			</div>
		</div>

		<!-- Modal Box -->
		<div class="modal" id="contactModal" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">

					<div class="modal-body">
						<div>
							<div>
								<div id="mug" style="float: left"></div>
							</div>
							<div>
								<div class="top-padding">Hi I'm <span id="name"></span>!</div>
							</div>
						</div>
						<div class="clear">
							<div class="bold left">Phone:&nbsp;</div> 
							<div class="left" id="phone"></div>
						</div>
						<div class="clear"></div>
						<div>
							<div class="bold left">Mobile:&nbsp;</div> 
							<div class="left" id="cell"></div>
						</div>
						<div class="clear"></div>
						<div>
							<div class="left" id="email"></div>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Underscore Templates -->
		<script type="text/template" id="form-template">
		<div id="userPreferences">
			<h2>Search Criteria</h2>
				<form class="form">
					<div class="form-group">
						<label class="control-label">Age</label>
						<input type="text" name="ageMin" value="18" id="ageMin" maxlength="2" size="2"> to <input type="text" name="ageMax" value="90" id="ageMax" maxlength="2" size="2">
					</div>
					<div class="form-group">
						<label class="control-label">Gender</label>
						<label class="radio-inline"><input type="radio" name="gender" id="checkAny" value="any" checked />Any</label>
						<label class="radio-inline"><input type="radio" name="gender" id="checkMale" value="male" />Male</label>
						<label class="radio-inline"><input type="radio" name="gender" id="checkFemale" value="female" />Female</label>
					</div>
					<!--<a class="btn btn-outline-primary" href="#/query" role="button">Query</a>-->
					<input class="btn btn-primary" type="submit" value="Filter">
					<input class="btn btn-success" type="reset" value="Reset">
				</form>
			</div>
		<div>
			<span class="bold"><%= results.length %></span> Candidates Found
		</div>
		</script>

		<script type="text/template" id="current-template">
			<div class="row">
				<div class="col-3 bold">Candidate</div>
				<div class="col-3 bold">Name</div>
				<div class="col-2 bold">Age</div>
				<div class="col-3"></div>
			</div>
			<% var item = 0; %>
			<% _.each(results, function(json) { %>
				<div class="row">
					<div class="col-3">
						<img class="photo" src="<%= json.picture.large %>">
					</div>
					<div class="col-3 top-padding">
						<span class="name lead"><%= upCase(json.name.first) %> <%= upCase(json.name.last) %></span>
					</div>
					<div class="col-2 top-padding">
						<span class="age lead"><%= calculateAge(json.dob) %></span>
					</div>
					<div class="col-3 top-padding">
						<button type="button" class="btn btn-info btn-lg" href="#" data-toggle="modal" data-target="#contactModal" id="<%= item %>" onClick="showModal('<%= json.phone %>', '<%= json.cell %>', '<%= json.email %>', '<%= json.picture.thumbnail %>', '<%= json.name.first %>'); return false;">Contact</button>
					</div>
				</div>
				<% item += 1; %>
				<% }); %>
		</script>
		<script data-main="app/common" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.js"></script>
		<script>
			const showModal = function(p, c, e, m, n) {
				let phone = document.getElementById("phone");
				let cell = document.getElementById("cell");
				let email  = document.getElementById("email");
				let mug  = document.getElementById("mug");
				let name = document.getElementById("name");

				name.innerHTML = upCase(n);
				phone.innerHTML = p;
				cell.innerHTML = c;
				email.innerHTML = e;
				mug.innerHTML = "<img class='thumb' src='" + m + "' />";
			};

			const upCase = function(item) {
				return item.charAt(0).toUpperCase() + item.slice(1);
			};
			
			const calculateAge = function(dob) {
				let currentTime = new Date();
				let age = currentTime.getFullYear() - new Date(dob).getFullYear();
				return age;
			};

			var calculate = function(min, max) {
				console.log("=> " + min + "=> " + max);
			};
		</script>	
	</body>
</html>
