* {
	margin: 0;
}

.header {
	align-items: center;
	background: #17a2b8;
	color: white;
	display: flex;
	height: 100px;
	justify-content: center;
	margin: 0px;
	width: 100%;
}

.header h1 {
	margin-top: 0px;
}

#userPreferences {
	margin-bottom: 25px;
	margin-top: 25px;
}

#dashBoard {
	border: 1px solid #c00;
	height: 30px;
}

#searchResults {
	background: #efefef;
	border-radius: 20px;
	margin: 0px auto;
	padding: 5px;
	width: 75%;
}

.photo, 
.thumb {
	background: gray;
	border-radius: 50%;
	border: 1px solid gray;
	height: auto;
	margin: 5px 10px;
	padding: 5px;
	width: 100px;
}

.thumb {
	width: auto;
}

span.age, 
span.catchphrase,
span.name { 
	font-size: 16px;
	margin: 0px 10px;
}

.top-padding {
		padding: 30px 0 0 0;	
}

.bold {
	font-weight: bold;
}

.left {
	float: left;
	text-align: left;
}

.clear {
	clear: left;
}

div.top-padding {
	padding-top: 20px;
}
